body {
  background-color: #21476e;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
}

.loseBox {
  position: absolute;
  padding: 30px 70px;
  border: 3px solid #320f0f;
  border-radius: 7px;
  text-align: center;
  vertical-align: middle;
  background-color: #ff0040;
  font-size: x-large;
  scale: 0;
  transition: 0.6s;
}

.winBox {
  position: absolute;
  padding: 30px 70px;
  border: 3px solid #0f2032;
  border-radius: 7px;
  text-align: center;
  vertical-align: middle;
  background-color: #0099ff;
  font-size: x-large;
  scale: 0;
  transition: 0.6s;
}
#resetBtn {
  margin-top: 40px;
  padding: 8px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  color: #0099ff;
  font-size: medium;
  cursor: pointer;
}

.wrongLetter {
  display: inline-block;
}
.h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}
#inputLetters {
  margin-top: 20px;
}
.wrongLetters {
  width: 80px;
  text-align: right;
}
.letter {
  width: 25px;
  height: 25px;
  border-bottom: 5px solid skyblue;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  margin: 3px;
}
p {
  margin-top: 0;
}
main {
  display: flex;
}
.notification {
  position: absolute;
  bottom: 0px;
  padding: 8px 15px;
  border-radius: 7px 7px 0px 0px;
  text-align: center;
  vertical-align: middle;
  background-color: #0f2032;
  transition: 0.6s ease-in-out;
}

/* ////////////////////////////////////////////////////// */

.out {
  transform: translateY(37px);
}

.show {
  scale: 1;
}

.hidden {
  display: none;
}

.question {
  color: #21476e;
}
